@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";



@theme {
  --font-inter: "Inter Tight", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
   --color-primary: #fafafa;
  --color-secondary: #f7f7f7;
  --color-card-right:#fcfcfc;
  --color-card-left:#f2f2f2;
  --color-arc-blue:#ebf2ff;
   --animate-slow-spin: slow-spin 6s linear infinite;
   --animate-scroll-x: scroll-x 20s linear infinite;
   --animate-scroll-review-x: scroll-review-x 20s linear infinite;
   --animate-scroll-review-xrev: scroll-review-xrev 20s linear infinite;

}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); 
  }
}


@keyframes scroll-review-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll-review-xrev {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}


@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@utility container {
  @apply mx-auto px-6 md:px-12;
}


@utility inner-bottom-white {
  box-shadow: inset 0 -50px 30px 0px  white;
}
@utility inner-y-white {
  box-shadow: inset 50px 0px 30px 0px  white , inset -50px 0px 30px 0px  white;
}

/* Works in Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* light grey background */
}

::-webkit-scrollbar-thumb {
  background: white; /* dark grey thumb */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: white; /* darker on hover */
}

/* Firefox Support */
* {
  scrollbar-width: thin;   
}

.no-scrollbar {
  scrollbar-width: none;      /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;              /* Chrome, Safari, Edge */
}






